@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1c1c1c
}

.container {
  max-width: 1248px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.tremor-BarList-labelText {
  &.whitespace-nowrap.truncate.text-gray-700.text-sm {
    color: #ffffff !important;
  }
}

.card-scrollbar {
  overflow-y: auto;

&::-webkit-scrollbar {
    width: 10px;
    /* высота для горизонтального скролла */
    background-color: transparent;
  }

  /* ползунок скроллбара */
  &::-webkit-scrollbar-thumb {
    background: #f7f7f7;
    border-radius: 9em;
  }
}